.wraw-widget-wrapper p:empty{
  display: none;
}
.wraw-widget-wrapper p{
  margin: 0;
  padding: 0;
}
.wraw-widget-wrapper{text-align: center;}
.wraw-row{margin-left:0px;}
.wraw-image-responsive{
  width: 100%;
}
.wraw-widget-wrapper a{
  display: block;
}
.wraw-clearfix{
  clear: both;
}
.wraw_post_image{
  position: relative;
  float: left;
  width: 100%;
  height: 125px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wraw-title{
  border-bottom: 2px solid #19c19d;
  font-size: 1.3em;
  padding-bottom: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  width:100%;
}
.wraw-h3{
  height: 45px;
  text-align: left;
  color: #353535;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 120%;
  overflow: hidden;
}
.wraw-author{
  display: block;
  text-align: left;
  font-size: 0.7em;
  color:#a9a9a9;
  font-weight: 400;
  position: relative;
}
.wraw-row{
  clear:both;
  width: 100%;
  overflow: hidden;
}
.wraw-cols{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}
.wraw-cols-1{
  width: 97%;
}
.wraw-cols-2 {
  width: 47%;
  overflow: hidden;
}

.wraw-cols-2 .wraw-image-responsive img{ height:205px; }
.wraw-cols-3{
  width: 31.3%;
  margin-bottom: 10px;
  float: left;
}
.wraw-cols-4{
  width: 22%;
}
.wraw-cols-5{
  width: 17%;
}
.wraw-cols-6{
  width: 13%;
}
.wraw-cols-1 .wraw_post_image{
	height: auto;
}
.wraw-cols-1 .wraw-h3{
  font-size: 14px;
  height: 60px;
}
#sidebar .wraw-cols-1 .wraw-h3{
	height: 65px;
    font-size: 16px;
}
.wraw-author{display:none;}
.wraw-slider{
  background-color: #fff;
  bottom: 100px;
  padding: 10px;
  position: fixed;
  width: 300px;
  z-index: 999;
}
.wraw-slider h1.wraw-title{
  font-size: 17px;
  margin-bottom: 0;
  padding: 0;
}
.wraw-slider .wraw-row{
  margin: 0;
  padding-top: 5px;
}
.wraw-1x1 h1.wraw-title{
  border: none;
}
.wraw-widget-wrapper.wraw-slider .wraw-image-responsive{
  height: 100px;
}
.wraw-widget-wrapper.wraw-1x1 .wraw-image-responsive{
  height: 400px;
}
.wraw-widget-wrapper.wraw-slider .wraw-image-responsive .wraw-image,
.wraw-widget-wrapper.wraw-1x1 .wraw-image-responsive .wraw-image,
.wraw-rows-temp .wraw-image-responsive .wraw-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
}
.wraw-cols.wraw-cols-2.wraw-image-responsive.wraw-rows {
  height: 250px;
}
.wraw-widget-wrapper.wraw-slider .wraw-slider-article-title{
  vertical-align: top;
}
.wraw-widget-wrapper.wraw-slider .wraw-slider-article-title .wraw-h3{
  font-size: 14px;
  height: 50px;
}
.wraw-1x1 .wraw-meta{
  padding: 0 5% 0 5%;
  width: 89.5%;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 3px;
  text-align: left;
}
.wraw-widget-wrapper.wraw-1x1 .wraw-1x1-article-title .wraw-h3{
  font-size: 180%;
  line-height: 120% !important;
  height: auto;
}
.wraw-widget-wrapper.wraw-slider .wraw-author{
  float: right;
  bottom: 5px;
}
.wraw-slider .wraw-slider-close {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  padding: 2px;
  cursor: pointer;
  float: right;
}
.wraw-cols-1 .wraw_post_image{
  height: auto;
}
.wraw-read-more{
  background-color: #A10000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1pt;
  margin-top: 20px;
  padding: 10px 12px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
button.wraw-read-more:hover{
  opacity: 0.9;
}
.wraw-temp1-content{
  text-align: justify;
  vertical-align: top;
}
.wraw-temp1-content .wraw-h3{
  height: inherit;
  overflow: initial !important;
}
.wraw-temp1-content .wraw-heading{
  color: #414042;
}
.wraw-rows-temp a:hover .wraw-temp1-content .wraw-heading{
  color: #A10000;
}
.wraw-rows-temp h1.wraw-heading.wraw-h2{
  font-size: 25px;
}
.wraw-rows-temp a:hover button.wraw-read-more{
  background: #000 !important;
}
.wraw-1x1 a:hover{
  color: initial;
}
.wraw-rows-temp .wraw-author-date span.wraw-author{
  color: #414042;
  display: inline-block;
  font-size: 12px;
}
.wraw-rows-temp .wraw-author-date span.wraw-date,
.wraw-date.wraw-source-text{
  color: #aaa;
  font-size: 12px;
}
.wraw-1x1 .wraw-date.wraw-source-text{
  color: #aaa;
  font-size: 12px;
  margin-bottom: 5px;
}
.wraw-1x1 .wraw-date.wraw-extra-text{
  color: #353535;
  font-size: 16px;
  margin-bottom: 5px;
}
.wraw-rows-temp .wraw-author-date span.wraw-date.wraw-extra-text{
  display: none;
}
.wraw-rows-temp .wraw-author-date span.wraw-date::before{
  content: '-';
}
.wraw-rows-temp .wraw-author-date .wraw-author{
  display: block;
  font-weight: bold;
}
.wraw-rows-temp .wraw-row{
  margin-bottom: 20px;
}
.wraw-rows-temp .wraw-title-wrapper{
  width: 100%;
  border-bottom: 2px solid #000;
  display: table;
  color: #fff;
  margin-bottom: 20px;
}
.wraw-rows-temp .wraw-title{
  background: #000;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0 10px;
  width: auto;
}
.has-post-thumbnail img.wp-post-image.wraw_post_image{
  display: block !important;
}
.wraw-sidebar .wraw-image-responsive > div {
  width: 100%;
  height: 206px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wraw-action-button {
  background: #FD953E;
  color: #fff;
  border: none;
  float: left;
  padding: 15px 30px;
  font-size: 110%;
  width: 230px;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 20px;
}
.wraw-1x1 .wraw-cols-1{
  width: 99%;
}
.wraw-1x1 .wraw-cols{
  margin-left: 0;
  margin-right: 0;
}
.wraw-action-button i.fa.fa-chevron-right.round-arrow-right {
    color: #fff;
    font-size: 83%;
}
@media (max-width:768px){
  .wraw-row{margin-left:0px;}
  .wraw-h3 {
    min-height: 0px;
    font-size: 21px;
    height: 105px;
  }
  .wraw-cols-2 .wraw-image-responsive img {
    height: 160px;
}
.wraw-cols-1 .wraw-h3 {
    height: 40px;
    font-size: 17px;
}
  .wraw_post_image {
    position: relative;
    float: left;
    width: 100%;
    height: 160px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wraw-cols-2{width: 47%;}
  .wls-popular-article {
    margin-bottom: 5px;
  }
  .wraw-title {
    font-size: 0.9em !important;
    margin-left: 0px;
  }
}
@media (max-width: 480px){
  .wraw-rows-temp .wraw-author-date span.wraw-date.wraw-extra-text{
    display: block;
  }
  .wraw-1x1 span.wraw-date.wraw-extra-text{
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wraw-temp1-content{
    margin-top: 5px;
  }
  .wraw-temp1-content .wraw-h3{
    font-size: 13px !important;
    margin-top: 0px;
  }
  .wraw-excerpt{
    font-size: 12px;
  }
  .wraw-read-more{
    font-size: 10px;
    padding: 5px;
    margin-top: 10px;
    display: none;
  }
  .wraw-cols.wraw-cols-2.wraw-image-responsive.wraw-rows{
    height: 100px;
  }
  .wraw-temp1-content{
    margin-top: 0px;
  }
  .wraw-rows-temp h1.wraw-heading.wraw-h2{
    font-size: 15px !important;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }
  .wraw-rows-temp .wraw-author-date{
    font-size: 10px;
  }
  .wraw-rows-temp .wraw-author-date span.wraw-date::before{
    content: '';
  }
  .wraw-rows-temp .wraw-author-date span.wraw-author{
    display: none;
  }
  .wraw-rows-temp .wraw-title{
    padding: 0 10px;
    width: auto;
  }
  .wraw-widget-wrapper.wraw-1x1 .wraw-image-responsive{
    height: 250px;
  }
}