/* Toggle Switch Button */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
    width: 120%;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ACTIVE";
    padding-left: 10px;
    background-color: #0EC70E; color: #FFFFFF;
}
label[for="wraw_default_no_utm"] .onoffswitch-inner:before {
    content: "NO UTM";
    padding-left: 10px;
    background-color: #0EC70E; color: #FFFFFF;
}
label[for="wraw_widget_visibility"] .onoffswitch-inner:before {
    content: "HIDDEN";
    padding-left: 10px;
    background-color: #0EC70E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #A10000; color: #ffffff;
    text-align: center;
}
label[for="wraw_widget_visibility"] .onoffswitch-inner:after {
    content: "HIDE";
    padding-right: 10px;
    background-color: #A10000; color: #ffffff;
    text-align: center;
}
label[for="wraw_default_no_utm"] .onoffswitch-inner:after {
    content: "NO UTM";
    padding-right: 0px;
    background-color: #A10000; color: #ffffff;
    text-align: center;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -15px; 
}
.onoffswitch-checkbox{
  display: none !important;
}

.postarea{
  display: none !important;
}
.wraw-modal.wraw-external-article{
  display: none;
  border: 1px solid #777;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  background: #fff;
  z-index: 999;
  padding: 10px;
}
.wraw-external-article-image {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.wraw-modal.wraw-external-article .wraw-input{
  margin:10px;
}
.wraw-image-preview{
  display: none;
  margin-top: 10px;
}
.wraw-external-article-image span {
  position: absolute;
  right: 10px;
  color: #000;
  font-size: 21px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  top: 10px;
}
.wraw-external-modal input[type='text'] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

#wraw_wrapper input[type='text'],
#wraw_wrapper input[type='number'] {
    width: 25%;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
}
#wraw_wrapper select {
    width: 25%;
    height: 35px;
    border-radius: 3px;
    margin: 10px 0;
}
#wraw_wrapper section > label:first-child {
  display: inline-block;
  width: 15%;
  font-size: 15px;
  line-height: 2;
}
#wraw_wrapper #wraw_slider_box_position label[for],
#wraw_wrapper #wraw_device label[for] {
  display: inline-block;
  margin-right: 25px;
}
#wraw_wrapper .dashicons {
  line-height: 1.25;
}
#wraw_widget_articles,
.wraw-action-buttons{
  position: relative;
}
.wraw-action-buttons{
  text-align: right;
  margin-bottom: 10px;
}
#wraw_wrapper button#wraw_add_titles{
  background: #5cb85c;
  border: 1px solid #5cb85c;
  box-shadow: 0 1px 0 #5cb85c;
  text-shadow: 0 -1px 1px #5cb85c,1px 0 1px #5cb85c,0 1px 1px #5cb85c,-1px 0 1px #5cb85c;
}
#wraw_wrapper button#wraw_add_titles:after{
  content: '';
  display: block;
  clear: both;
}
#wraw_wrapper .alert{
  display: none;
  width: 100%;
  padding: 15px;
}
#wraw_action_button{
  display: none;
}
.wraw-widget-on-articles {
  display: inline-block;
  width: 39%;
}
.wraw-in-widget-articles {
  display: inline-block;
  width: 59%;
}
.wraw-label {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
.wraw-clear{
  clear: both;
}